:host {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
  overflow-y: auto;

  .form-company {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }

  .form-sign-in .checkbox {
    font-weight: 400;
  }

  .form-sign-in .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }

  .form-sign-in .form-control:focus {
    z-index: 2;
  }

  .form-sign-in input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-sign-in input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

}
