<form class="form-company"
      [formGroup]="companyForm"
      (ngSubmit)="onSubmit()">
  <ngb-alert *ngIf="thereAreErrors"
             (close)="thereAreErrors = true"
             [@chatFadeInOut]>
    {{alertMessage}}
  </ngb-alert>
  <h1 class="h3 mb-3 font-weight-normal">Create Company</h1>
    <label for="nameId" class="sr-only">Full Name</label>
    <input type="email"
           class="form-control"
           id="nameId"
           placeholder="Name"
           formControlName="name">

    <ul *ngIf="companyForm.get('name').invalid && (companyForm.get('name').dirty || companyForm.get('name').touched)"
        class="text-danger text-left small">
      <li *ngIf="companyForm.get('name').errors.required">
        Name is required
      </li>
      <li *ngIf="companyForm.get('name').errors.minlength">
        Min length required: {{passMinLength}}
      </li>
    </ul>

    <label for="emailId" class="sr-only">Email</label>
    <input type="email"
           class="form-control"
           id="emailId"
           placeholder="Email"
           formControlName="email">

    <ul *ngIf="companyForm.get('email').invalid && (companyForm.get('email').dirty || companyForm.get('email').touched)"
        class="text-danger text-left small">
      <li *ngIf="companyForm.get('email').errors.required">
        Email is required
      </li>
      <li *ngIf="companyForm.get('email').errors.forbiddenDomain">
        Only {{validDomains.join(',')}} are allowed.
      </li>
    </ul>

    <label for="passwordId" class="sr-only">Password</label>
    <input type="password"
           class="form-control"
           id="passwordId"
           placeholder="Password"
           formControlName="password">

    <ul
      *ngIf="companyForm.get('password').invalid && (companyForm.get('password').dirty || companyForm.get('password').touched)"
      class="text-danger text-left">
      <li *ngIf="companyForm.get('password').errors.required">
        Password is required
      </li>
      <li *ngIf="companyForm.get('password').errors.minlength">
        Min length required: {{passMinLength}}
      </li>
    </ul>


    <label for="confirmPassId" class="sr-only">Confirm Password</label>

    <input type="password"
           class="form-control"
           id="confirmPassId"
           placeholder="Confirm Password"
           formControlName="confirmPassword">

    <ul
      *ngIf="companyForm.get('confirmPassword').invalid && (companyForm.get('confirmPassword').dirty || companyForm.get('confirmPassword').touched)"
      class="text-danger text-left small">
      <li *ngIf="companyForm.get('confirmPassword').errors.required">
        Confirm Password is required
      </li>
      <li *ngIf="companyForm.get('confirmPassword').errors.minlength">
        Min length required: {{passMinLength}}
      </li>
    </ul>

    <button type="submit"
            class="btn btn-outline-primary my-2 my-sm-0"
            [disabled]="!companyForm.valid">
      Create Company
    </button>

</form>
